.fa-check {
  color: #99E2D0;
}

.entrees-back {
  margin-top: -30px;
  z-index: 10000;
  position: relative;
}
@media (min-width: 992px) {
  .entrees-back {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .entrees-back {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

nav {
  top: 20px;
  bottom: 20px;
  left: 30px;
  position: absolute;
}

nav a {
  text-decoration: none;
}

.palette-card img {
  display: flex;
  width: 100%;
  height: 245px;
  object-fit: cover;
}

.entrees-content {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #f2f2f2;
}
@media (min-width: 992px) {
  .entrees-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76%;
  }
}
@media (min-width: 768px) {
  .entrees-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76%;
  }
}
.entrees-content h1 {
  display: flex;
  flex-direction: row;
  position: static;
  padding: 20px 0 0 20px;
  font-size: x-large;
  font-weight: 900;
  font-family: "Shrikhand";
  margin-bottom: -20px;
}
.entrees-content .palette-favorite {
  position: absolute;
  right: 40px;
  top: 40px;
  padding: 0 8px 16px 0;
  height: 0px;
  height: 0px;
}
.entrees-content .palette-favorite .empty-heart {
  color: gray;
  font-size: 20px;
}
.entrees-content .palette-favorite .full-heart {
  opacity: 0;
  transition: opacity 0.5s;
  font-size: 20px;
}
.entrees-content .palette-favorite:hover .full-heart {
  opacity: 1;
}
.entrees-content .palette-favorite i {
  position: absolute;
  background-image: linear-gradient(170deg, #ff79da, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
@media (min-width: 768px) {
  .entrees-content .palette-favorite {
    right: 30%;
    top: 50px;
  }
}
@media (min-width: 992px) {
  .entrees-content .palette-favorite {
    right: 35%;
  }
}
.entrees-content .entrees {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  margin-left: 22px;
  padding-top: 30px;
}
@media (min-width: 992px) {
  .entrees-content .entrees {
    margin-bottom: 4px;
  }
}
@media (min-width: 768px) {
  .entrees-content .entrees {
    margin-bottom: 4px;
    margin-left: 40px;
  }
}
.entrees-content hr {
  width: 40px;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: -5px;
  border-width: 1.5px;
  border-color: #99E2D0;
  border-style: solid;
}
@media (min-width: 992px) {
  .entrees-content hr {
    text-align: left;
    margin-left: 17.5%;
    margin-bottom: 12px;
    margin-top: 2px;
  }
}
@media (min-width: 768px) {
  .entrees-content hr {
    text-align: left;
    margin-left: 17.5%;
    margin-bottom: 12px;
    margin-top: 2px;
  }
}
.entrees-content .entrees-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 992px) {
  .entrees-content .entrees-cards {
    width: 70%;
  }
}
@media (min-width: 768px) {
  .entrees-content .entrees-cards {
    width: 70%;
  }
}
.entrees-content .entrees-cards .menu-card {
  width: 94%;
  height: 70px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.entrees-content .entrees-cards .menu-card:hover .card-content {
  width: 100%;
}
.entrees-content .entrees-cards .menu-card:hover .card-content .btn-check-mark__icon {
  transform: rotate(0deg);
}
.entrees-content .entrees-cards .menu-card:hover .ingridiant {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 230px;
}
@media (min-width: 512px) {
  .entrees-content .entrees-cards .menu-card:hover .ingridiant {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: visible;
  }
}
.entrees-content .entrees-cards .menu-card .card-content {
  height: 100%;
  width: calc(100% + 70px);
  display: flex;
}
.entrees-content .entrees-cards .menu-card .card-content .card-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: fit-content;
  padding: 10px 0 10px 10px;
}
.entrees-content .entrees-cards .menu-card .card-content .card-text h3 {
  margin: 0;
}
.entrees-content .entrees-cards .menu-card .card-content .card-text .ingridiant {
  margin-top: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 230px;
}
@media (min-width: 992px) {
  .entrees-content .entrees-cards .menu-card .card-content .card-text .ingridiant {
    text-overflow: unset;
    white-space: wrap;
    overflow: hidden;
    width: 100%;
  }
}
.entrees-content .entrees-cards .menu-card .card-content .btn-price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 55px;
  height: 100%;
}
.entrees-content .entrees-cards .menu-card .card-content .btn-price .price {
  font-weight: bold;
  padding-bottom: 10px;
}
.entrees-content .entrees-cards .menu-card .card-content .btn-check-mark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: #99E2D0;
}
.entrees-content .entrees-cards .menu-card .card-content .btn-check-mark__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  width: 20px;
  height: 20px;
  transform: rotate(-270deg);
  transition: transform 400ms ease-in-out;
}

.order-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 15px;
}
@media (min-width: 992px) {
  .order-section {
    width: 315px;
    padding-top: 20px;
    padding-bottom: 0;
  }
}
@media (min-width: 768px) {
  .order-section {
    padding-top: 22px;
    padding-bottom: 0;
  }
}
.order-section .order {
  display: flex;
  height: 50px;
  width: 200px;
  justify-content: center;
  align-items: center;
  border: 0;
  font-size: 17px;
  text-align: center;
  color: #fff;
  border-radius: 30px;
  margin: 0 75px 50px 75px;
  background-image: linear-gradient(170deg, #ff79da, #9356DC);
}
.order-section .order:hover {
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2);
  filter: brightness(115%);
}

.footer-section .page-name {
  display: flex;
  font-family: "Shrikhand";
  font-size: large;
  font-weight: 700;
  color: white;
  padding: 10px 0 10px 0;
  text-decoration: none;
}
@media (min-width: 992px) {
  .footer-section .page-name {
    right: 10px;
    padding: 2px 0 0 0;
  }
}
@media (min-width: 768px) {
  .footer-section .page-name {
    right: 10px;
    padding: 2px 0 0 0;
  }
}
.footer-section .footer-text {
  color: white;
  font-size: 14px;
  white-space: nowrap;
  text-decoration: none;
}
.footer-section button {
  background-color: #333333;
  border-style: none;
  margin-left: -7px;
}
.footer-section .footer-icon ::before {
  width: 20px;
  height: 18px;
}
.footer-section .footer-link i,
.footer-section a {
  color: white;
}

.menu-card {
  animation: fade-animation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.menu-card:nth-child(1) {
  animation-delay: 0s;
}
.menu-card:nth-child(2) {
  animation-delay: 90ms;
}
.menu-card:nth-child(3) {
  animation-delay: 180ms;
}
.menu-card:nth-child(4) {
  animation-delay: 270ms;
}

@keyframes fade-animation {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
* {
  font-size: medium;
  font-family: "Roboto";
  color: black;
}

body {
  margin: 0;
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10000;
  animation: hide-spinner 0s 3s forwards;
}
.load .spin {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: rotate-spiner 3s 1000ms linear infinite;
  animation-iteration-count: 3;
}

@keyframes rotate-spiner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hide-spinner {
  100% {
    transform: scale(0);
  }
}
header {
  display: flex;
  height: 62.5px;
  position: relative;
  z-index: 10;
  background-color: white;
}

.logo {
  display: flex;
  font-family: "Shrikhand";
  font-size: large;
  height: 25px;
  margin: 20px auto;
}

.location {
  display: flex;
  height: 55px;
  background-color: #e5e5e5;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 5px -5px inset;
}
.location .map-icon {
  padding-left: 0;
}
.location__name {
  margin-left: 17px;
}

.explore {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f2f2f2;
  height: 292px;
}
.explore .booking {
  display: flex;
  justify-content: center;
  font-weight: 900;
  font-size: 26px;
  height: 25px;
  padding: 20px 0;
  box-sizing: border-box;
}
.explore .discover-restaurants {
  height: 35px;
  text-align: center;
  padding: 40px 0 38px 0;
  margin: 0 36px;
  font-size: 18px;
}
.explore__restaurants {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #ff79da;
  border: 0;
  font-size: 17px;
  text-align: center;
  color: #fff;
  border-radius: 30px;
  margin: 0 75px 50px 75px;
  background-image: linear-gradient(170deg, #ff79da, #9356DC);
}
.explore__restaurants:hover {
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2);
  filter: brightness(115%);
}

.structure {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 454.5px;
}
.structure .how-page-work {
  display: flex;
  margin-left: 20px;
  padding-top: 25px;
  font-weight: 900;
  font-size: 26px;
}
.structure .structure-three-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 340.5px;
  padding: 0 0 10px 0;
}
.structure .structure-three-sec .chose-restaurant {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid;
  border-radius: 20px;
  border-style: none;
  background-color: #f2f2f2;
  height: 68px;
  width: 80%;
  margin: 0 30px;
  margin-top: -30px;
  padding-right: 15px;
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2);
}
@media (min-width: 992px) {
  .structure .structure-three-sec .chose-restaurant {
    width: 33.3%;
  }
}
.structure .structure-three-sec .chose-restaurant .numbers {
  border: 1px solid;
  border-style: none;
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  font-size: 13px;
  color: white;
  background-color: #9356DC;
  text-align: center;
  margin-left: -10px;
}
.structure .structure-three-sec .chose-restaurant__icon {
  padding: 0 20px 0 30px;
  color: gray;
}
@media (min-width: 992px) {
  .structure .structure-three-sec .chose-restaurant__icon {
    padding: 0 18px 0 26px;
  }
}
.structure .structure-three-sec .create-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid;
  border-radius: 20px;
  border-style: none;
  background-color: #f2f2f2;
  height: 68px;
  width: 80%;
  margin: 0 30px;
  margin-top: -30px;
  padding-right: 15px;
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2);
}
@media (min-width: 992px) {
  .structure .structure-three-sec .create-menu {
    width: 33.3%;
  }
}
.structure .structure-three-sec .create-menu .numbers {
  border: 1px solid;
  border-style: none;
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  font-size: 13px;
  color: white;
  background-color: #9356DC;
  text-align: center;
  margin-left: -10px;
}
.structure .structure-three-sec .create-menu__icon {
  padding: 0 20px 0 30px;
  color: gray;
}
@media (min-width: 992px) {
  .structure .structure-three-sec .create-menu__icon {
    padding: 0 18px 0 26px;
  }
}
.structure .structure-three-sec .enjoy-it {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid;
  border-radius: 20px;
  border-style: none;
  background-color: #f2f2f2;
  height: 68px;
  width: 80%;
  margin: 0 30px;
  margin-top: -30px;
  padding-right: 15px;
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2);
}
@media (min-width: 992px) {
  .structure .structure-three-sec .enjoy-it {
    width: 33.3%;
  }
}
.structure .structure-three-sec .enjoy-it .numbers {
  border: 1px solid;
  border-style: none;
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  font-size: 13px;
  color: white;
  background-color: #9356DC;
  text-align: center;
  margin-left: -10px;
}
.structure .structure-three-sec .enjoy-it__icon {
  padding: 0 20px 0 30px;
  color: #9356DC;
}
@media (min-width: 992px) {
  .structure .structure-three-sec .enjoy-it__icon {
    padding: 0 18px 0 26px;
  }
}
.structure .structure-three-sec .differ--background-col {
  background-color: #ece1f9;
}

.restaurant-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f2f2f2;
  padding-bottom: 60px;
}
.restaurant-section .restaurant-title {
  margin: 0 20px;
  padding: 50px 0 30px 0;
  font-weight: 900;
  font-size: 24px;
}
.restaurant-section .restaurant-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@keyframes spin {
  0% {
    transform: scaleX(0);
    opacity: 0.1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
.restaurant-section .restaurant-cards .card {
  display: block;
  margin: 0 20px;
  border-radius: 20px;
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 320px;
  height: 200px;
  background-color: white;
  text-decoration: none;
}
.restaurant-section .restaurant-cards .card .new {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100%;
  background-color: #99E2D0;
  width: 70px;
  height: 25px;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 900;
  color: #278870;
}
.restaurant-section .restaurant-cards .card .favorite {
  position: absolute;
  right: 40px;
  top: 40px;
  padding: 0 8px 16px 0;
  height: 0px;
  right: 30px;
  top: 150px;
}
.restaurant-section .restaurant-cards .card .favorite .empty-heart {
  color: gray;
  font-size: 20px;
}
.restaurant-section .restaurant-cards .card .favorite .full-heart {
  opacity: 0;
  transition: opacity 0.5s;
  font-size: 20px;
}
.restaurant-section .restaurant-cards .card .favorite:hover .full-heart {
  opacity: 1;
}
.restaurant-section .restaurant-cards .card .favorite i {
  position: absolute;
  background-image: linear-gradient(170deg, #ff79da, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.restaurant-section .restaurant-cards img {
  object-fit: cover;
  width: 100%;
  height: 136px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.restaurant-section .restaurant-cards .card-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 15px;
  height: 68px;
  box-sizing: border-box;
}
.restaurant-section .restaurant-cards .card-content .card-title {
  margin: 0;
  padding-top: 9px;
}
.restaurant-section .restaurant-cards .card-content .card-subtitle {
  margin: 0;
  padding-top: 4px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 200px;
  background-color: #333333;
  padding-top: 8px;
  padding-left: 20px;
  box-sizing: border-box;
}
.footer-section .page-name {
  display: flex;
  font-family: "Shrikhand";
  font-size: large;
  font-weight: 700;
  color: white;
  padding: 10px 0 10px 0;
  text-decoration: none;
}
@media (min-width: 992px) {
  .footer-section .page-name {
    right: 10px;
    padding: 2px 0 0 0;
  }
}
@media (min-width: 768px) {
  .footer-section .page-name {
    right: 10px;
    padding: 2px 0 0 0;
  }
}
.footer-section .footer-text {
  color: white;
  font-size: 14px;
  white-space: nowrap;
  text-decoration: none;
}
.footer-section button {
  background-color: #333333;
  border-style: none;
  margin-left: -7px;
}
.footer-section .footer-icon ::before {
  width: 20px;
  height: 18px;
}
.footer-section .footer-link i,
.footer-section a {
  color: white;
}

.footer-link {
  white-space: nowrap;
}

@media (min-width: 768px) {
  .location {
    height: 30px;
    box-shadow: none;
  }
  .location .map-icon {
    font-weight: 600;
    font-size: small;
  }
  .location__name {
    margin-left: 14px;
    font-size: 12px;
  }
  .explore {
    height: 210px;
  }
  .explore .booking {
    font-weight: 680;
    font-size: 28px;
    padding: 0;
    margin: 0 0 22px 0;
    box-sizing: border-box;
  }
  .explore .discover-restaurants {
    height: 30px;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    font-size: 13px;
  }
  .explore__restaurants {
    height: 45px;
    font-size: 17px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 13px;
  }
  .restaurant-section {
    display: flex;
    flex-direction: column;
    padding: 0 60px 60px 135px;
    box-sizing: border-box;
    padding-bottom: 30px;
  }
  .restaurant-section .restaurant-title {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0 0 20px;
    padding: 0px 0px 0px 0;
  }
  .restaurant-section .restaurant-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  .restaurant-section .restaurant-cards .card {
    margin: 0 20px;
    width: 40%;
    height: 200px;
    background-color: white;
    text-decoration: none;
    margin-top: 30px;
    box-shadow: none;
  }
  .restaurant-section .restaurant-cards .card img {
    object-fit: cover;
    height: 136px;
  }
  .restaurant-section .card-content {
    height: 0px;
  }
  .footer-section {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 25px;
    width: 100%;
    height: 60px;
    padding-bottom: 10px;
    box-sizing: border-box;
    padding-right: 260px;
  }
  .footer-section .page-name {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    margin-top: 30px;
    height: 18px;
    margin-right: 30px;
    position: absolute;
  }
}
@media (min-width: 992px) {
  .location {
    height: 32.25px;
    box-shadow: none;
  }
  .location__name {
    font-size: 15px;
  }
  .explore {
    height: 230px;
  }
  .explore .booking {
    padding: 0;
    margin: 0 0 30px 0;
    align-items: baseline;
    font-size: 35px;
    font-weight: 680;
    box-sizing: border-box;
  }
  .explore .discover-restaurants {
    height: 30px;
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
    margin: 0;
  }
  .explore__restaurants {
    height: 45px;
    margin: 0 auto 10px auto;
    padding: 0 25px;
    font-size: 15px;
  }
  .structure {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0 140px;
  }
  .structure .structure-three-sec {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
  }
  .structure .structure-three-sec .how-page-work {
    width: 100%;
    height: 40px;
    padding: 0 0 155px 100px;
  }
  .restaurant-section {
    display: flex;
    flex-direction: column;
    padding: 0 60px 60px 135px;
    box-sizing: border-box;
    padding-bottom: 30px;
  }
  .restaurant-section .restaurant-title {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0 0 20px;
    padding: 0px 0px 0px 0;
  }
  .restaurant-section .restaurant-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  .restaurant-section .restaurant-cards .card {
    margin: 0 20px;
    width: 40%;
    height: 200px;
    background-color: white;
    text-decoration: none;
    margin-top: 30px;
    box-shadow: none;
  }
  .restaurant-section .restaurant-cards .card img {
    object-fit: cover;
    height: 136px;
  }
  .restaurant-section .card-content {
    height: 0px;
  }
  .footer-section {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 25px;
    width: 100%;
    height: 60px;
    padding-bottom: 10px;
    box-sizing: border-box;
    padding-right: 260px;
  }
  .footer-section .page-name {
    display: flex;
    justify-content: end;
    position: absolute;
    padding: 10px 40px 0 0;
    margin: 20px 0 0 300px;
  }
}

/*# sourceMappingURL=style.css.map */
