* {
  font-size: medium;
  font-family: "Roboto";
  color: black;
}

body {
  margin: 0;
}

header {
  display: flex;
  height: 62.5px;
  position: relative;
  z-index: 10;
}

.logo {
  display: flex;
  font-family: "Shrikhand";
  font-size: large;
  height: 25px;
  margin: 20px auto;
}

.location {
  display: flex;
  height: 55px;
  background-color: #e5e5e5;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 5px -5px inset;
}
.location .map-icon {
  padding-left: 0;
}
.location__name {
  margin-left: 17px;
}

.explore {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f2f2f2;
  height: 292px;
}
.explore .booking {
  display: flex;
  justify-content: center;
  font-weight: 900;
  font-size: 26px;
  height: 25px;
  padding: 20px 0;
  box-sizing: border-box;
}
.explore .discover-restaurants {
  height: 35px;
  text-align: center;
  padding: 40px 0 38px 0;
  margin: 0 36px;
  font-size: 18px;
}
.explore__restaurants {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #ff79da;
  border: 0;
  font-size: 17px;
  text-align: center;
  color: #fff;
  border-radius: 30px;
  margin: 0 75px 50px 75px;
  background-image: linear-gradient(170deg, #ff79da, #9356DC);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.structure {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 454.5px;
}
.structure .how-page-work {
  display: flex;
  margin-left: 20px;
  padding-top: 25px;
  font-weight: 900;
  font-size: 26px;
}
.structure .structure-three-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 340.5px;
  padding: 0 0 10px 0;
}
.structure .structure-three-sec .chose-restaurant {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid;
  border-radius: 20px;
  border-style: none;
  background-color: #f2f2f2;
  height: 68px;
  width: 80%;
  margin: 0 30px;
  margin-top: -30px;
  padding-right: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.structure .structure-three-sec .chose-restaurant .numbers {
  border: 1px solid;
  border-style: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  font-size: 13px;
  color: white;
  background-color: #9356DC;
  text-align: center;
  margin-left: -10px;
}
.structure .structure-three-sec .chose-restaurant__icon {
  padding: 0 20px;
  color: gray;
}
.structure .structure-three-sec .create-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid;
  border-radius: 20px;
  border-style: none;
  background-color: #f2f2f2;
  height: 68px;
  width: 80%;
  margin: 0 30px;
  margin-top: -30px;
  padding-right: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.structure .structure-three-sec .create-menu .numbers {
  border: 1px solid;
  border-style: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  font-size: 13px;
  color: white;
  background-color: #9356DC;
  text-align: center;
  margin-left: -10px;
}
.structure .structure-three-sec .create-menu__icon {
  padding: 0 20px;
  color: gray;
}
.structure .structure-three-sec .enjoy-it {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid;
  border-radius: 20px;
  border-style: none;
  background-color: #f2f2f2;
  height: 68px;
  width: 80%;
  margin: 0 30px;
  margin-top: -30px;
  padding-right: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.structure .structure-three-sec .enjoy-it .numbers {
  border: 1px solid;
  border-style: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  font-size: 13px;
  color: white;
  background-color: #9356DC;
  text-align: center;
  margin-left: -10px;
}
.structure .structure-three-sec .enjoy-it__icon {
  padding: 0 20px;
  color: #9356DC;
}
.structure .structure-three-sec .differ--background-col {
  background-color: #ece1f9;
}

.restaurant-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f2f2f2;
  padding-bottom: 60px;
}
.restaurant-section .restaurant-title {
  margin: 0 20px;
  padding: 50px 0 30px 0;
  font-weight: 900;
  font-size: 24px;
}
.restaurant-section .restaurant-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.restaurant-section .restaurant-cards .card {
  display: block;
  margin: 0 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 320px;
  height: 200px;
  background-color: white;
  text-decoration: none;
}
.restaurant-section .restaurant-cards .card .new {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100%;
  background-color: #99E2D0;
  width: 70px;
  height: 25px;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 900;
  color: #278870;
}
.restaurant-section .restaurant-cards .card .favorite {
  position: absolute;
  right: 30px;
  bottom: 30px;
  padding: 0 8px 16px 0;
  height: 0px;
}
.restaurant-section .restaurant-cards .card .favorite .empty-heart {
  color: gray;
  font-size: 20px;
}
.restaurant-section .restaurant-cards .card .favorite .full-heart {
  opacity: 0;
  transition: opacity 0.5s;
  font-size: 20px;
}
.restaurant-section .restaurant-cards .card .favorite:hover .full-heart {
  opacity: 1;
}
.restaurant-section .restaurant-cards .card .favorite i {
  position: absolute;
  background-image: linear-gradient(170deg, #ff79da, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.restaurant-section .restaurant-cards img {
  object-fit: cover;
  width: 100%;
  height: 136px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.restaurant-section .restaurant-cards .card-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 15px;
  height: 68px;
  box-sizing: border-box;
}
.restaurant-section .restaurant-cards .card-content .card-title {
  margin: 0;
  padding-top: 9px;
}
.restaurant-section .restaurant-cards .card-content .card-subtitle {
  margin: 0;
  padding-top: 4px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 200px;
  background-color: #333333;
  padding-top: 8px;
  padding-left: 20px;
  box-sizing: border-box;
}
.footer-section .page-name {
  display: flex;
  font-family: "Shrikhand";
  justify-content: end;
  align-items: end;
  font-size: large;
  font-weight: 700;
  width: 100px;
  height: 50px;
  filter: invert(100%) sepia(6%) saturate(0%) hue-rotate(0deg) brightness(108%) contrast(108%);
}
.footer-section .footer-text {
  color: white;
  font-size: 14px;
  white-space: nowrap;
}
.footer-section .footer-icon ::before {
  width: 18px;
  height: 18px;
}
.footer-section .footer-link i {
  color: white;
}

.footer-link {
  white-space: nowrap;
}

@media (min-width: 768px) {
  .location {
    height: 30px;
    box-shadow: none;
  }
  .location .map-icon {
    font-weight: 600;
    font-size: small;
  }
  .location__name {
    margin-left: 14px;
    font-size: 12px;
  }
  .explore {
    height: 210px;
  }
  .explore .booking {
    font-weight: 680;
    font-size: 28px;
    padding: 0;
    margin: 0 0 22px 0;
    box-sizing: border-box;
  }
  .explore .discover-restaurants {
    height: 30px;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    font-size: 13px;
  }
  .explore__restaurants {
    height: 45px;
    font-size: 17px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 13px;
  }
  .restaurant-section {
    display: flex;
    flex-direction: column;
    padding: 0 60px 60px 135px;
    box-sizing: border-box;
    padding-bottom: 30px;
  }
  .restaurant-section .restaurant-title {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0 0 20px;
    padding: 0px 0px 0px 0;
  }
  .restaurant-section .restaurant-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  .restaurant-section .restaurant-cards .card {
    margin: 0 20px;
    width: 40%;
    height: 200px;
    background-color: white;
    text-decoration: none;
    margin-top: 30px;
    box-shadow: none;
  }
  .restaurant-section .restaurant-cards .card img {
    object-fit: cover;
    height: 136px;
  }
  .restaurant-section .card-content {
    height: 0px;
  }
  .footer-section {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 25px;
    width: 100%;
    height: 60px;
    padding-bottom: 10px;
    box-sizing: border-box;
    padding-right: 260px;
  }
  .footer-section .page-name {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    margin-top: 20px;
    height: 18px;
    margin: 18px;
  }
}
@media (min-width: 992px) {
  .location {
    height: 32.25px;
    box-shadow: none;
  }
  .location__name {
    font-size: 15px;
  }
  .explore {
    height: 230px;
  }
  .explore .booking {
    padding: 0;
    margin: 0 0 30px 0;
    align-items: baseline;
    font-size: 35px;
    font-weight: 680;
    box-sizing: border-box;
  }
  .explore .discover-restaurants {
    height: 30px;
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
    margin: 0;
  }
  .explore__restaurants {
    height: 45px;
    margin: 0 auto 10px auto;
    padding: 0 25px;
    font-size: 15px;
  }
  .structure {
    height: auto;
    padding: 0 140px;
  }
  .structure .structure-three-sec {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: 280px;
    align-items: center;
    justify-content: center;
  }
  .structure .structure-three-sec .how-page-work {
    width: 100%;
    height: 40px;
    padding: 0 0 155px 100px;
  }
  .restaurant-section {
    display: flex;
    flex-direction: column;
    padding: 0 60px 60px 135px;
    box-sizing: border-box;
    padding-bottom: 30px;
  }
  .restaurant-section .restaurant-title {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0 0 20px;
    padding: 0px 0px 0px 0;
  }
  .restaurant-section .restaurant-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  .restaurant-section .restaurant-cards .card {
    margin: 0 20px;
    width: 40%;
    height: 200px;
    background-color: white;
    text-decoration: none;
    margin-top: 30px;
    box-shadow: none;
  }
  .restaurant-section .restaurant-cards .card img {
    object-fit: cover;
    height: 136px;
  }
  .restaurant-section .card-content {
    height: 0px;
  }
  .footer-section {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 25px;
    width: 100%;
    height: 60px;
    padding-bottom: 10px;
    box-sizing: border-box;
    padding-right: 260px;
  }
  .footer-section .page-name {
    display: flex;
    justify-content: end;
    position: absolute;
    right: 50px;
    margin: 20px 0 0 300px;
  }
}

/*# sourceMappingURL=style.css.map */
