* {
  font-size: medium;
  font-family: "Roboto";
  color: black;
}

.fa-solid {
  font-weight: 900;
}

body {
  margin: 0;
}

header {
  display: flex;
  height: 62.5px;
  position: relative;
  z-index: 10px;
}

.logo {
  display: flex;
  font-family: "Shrikhand";
  font-size: large;
  height: 25px;
  margin: 20px auto;
}

.location {
  display: flex;
  height: 55px;
  background-color: #e5e5e5;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 5px -5px inset;
}
.location .map-icon {
  padding-left: 0;
}
.location__name {
  margin-left: 17px;
}

.explore {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f2f2f2;
  height: 292px;
}
.explore .booking {
  display: flex;
  justify-content: center;
  font-weight: 900;
  font-size: 26px;
  height: 25px;
  padding: 20px 0;
  box-sizing: border-box;
}
.explore .discover-restaurants {
  height: 35px;
  text-align: center;
  padding: 40px 0 38px 0;
  margin: 0 36px;
  font-size: 18px;
}
.explore__restaurants {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #ff79da;
  border: 0;
  font-size: 17px;
  text-align: center;
  color: #fff;
  border-radius: 30px;
  margin: 0 75px 50px 75px;
  background-image: linear-gradient(170deg, #ff79da, #9356DC);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.structure {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 454.5px;
}
.structure .how-page-work {
  display: flex;
  margin-left: 20px;
}
.structure .chose-restaurant {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid;
  border-radius: 20px;
  border-style: none;
  background-color: #f2f2f2;
  height: 65px;
  width: 80%;
  margin: 0 30px;
  margin-top: -30px;
  padding-right: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.structure .chose-restaurant .numbers {
  border: 1px solid;
  border-style: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 13px;
  color: white;
  background-color: #9356DC;
  text-align: center;
  margin-left: -10px;
}
.structure .chose-restaurant__icon {
  padding: 0 20px;
}
.structure .create-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid;
  border-radius: 20px;
  border-style: none;
  background-color: #f2f2f2;
  height: 65px;
  width: 80%;
  margin: 0 30px;
  margin-top: -30px;
  padding-right: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.structure .create-menu .numbers {
  border: 1px solid;
  border-style: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 13px;
  color: white;
  background-color: #9356DC;
  text-align: center;
  margin-left: -10px;
}
.structure .create-menu__icon {
  padding: 0 20px;
}
.structure .create-menu__icon--fa-th-list {
  background-color: none;
  color: black;
}
.structure .enjoy-it {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid;
  border-radius: 20px;
  border-style: none;
  background-color: #f2f2f2;
  height: 65px;
  width: 80%;
  margin: 0 30px;
  margin-top: -30px;
  padding-right: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.structure .enjoy-it .numbers {
  border: 1px solid;
  border-style: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 13px;
  color: white;
  background-color: #9356DC;
  text-align: center;
  margin-left: -10px;
}
.structure .enjoy-it__icon {
  padding: 0 20px;
}
.structure .differ--background-col {
  background-color: #ece1f9;
}

@media (min-width: 768px) {
  .location {
    height: 30px;
    box-shadow: none;
  }
  .location .map-icon {
    font-weight: 600;
    font-size: small;
  }
  .location__name {
    margin-left: 14px;
    font-size: 12px;
  }
  .explore {
    height: 210px;
  }
  .explore .booking {
    font-weight: 680;
    font-size: 28px;
    padding: 0;
    margin: 0 0 22px 0;
    box-sizing: border-box;
  }
  .explore .discover-restaurants {
    height: 30px;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    font-size: 13px;
  }
  .explore__restaurants {
    height: 45px;
    font-size: 17px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 13px;
  }
}
@media (min-width: 992px) {
  .location {
    height: 32.25px;
    box-shadow: none;
  }
  .location__name {
    font-size: 15px;
  }
  .explore {
    height: 230px;
  }
  .explore .booking {
    padding: 0;
    margin: 0 0 30px 0;
    align-items: baseline;
    font-size: 35px;
    font-weight: 680;
    box-sizing: border-box;
  }
  .explore .discover-restaurants {
    height: 30px;
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
    margin: 0;
  }
  .explore__restaurants {
    height: 45px;
    margin: 0 auto 10px auto;
    padding: 0 25px;
    font-size: 15px;
  }
  .structure {
    flex-direction: row;
    height: 230px;
    align-items: flex-end;
    margin: 0 140px;
  }
  .structure .how-page-work {
    position: static;
    width: 100%;
    height: fit-content;
    margin-bottom: 180px;
  }
  .structure .chose-restaurant {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid;
    border-radius: 20px;
    border-style: none;
    background-color: #f2f2f2;
    height: 65px;
    width: 300px;
    padding-right: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  }
  .structure .create-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid;
    border-radius: 20px;
    border-style: none;
    background-color: #f2f2f2;
    height: 65px;
    width: 300px;
    padding-right: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  }
  .structure .enjoy-it {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid;
    border-radius: 20px;
    border-style: none;
    background-color: #f2f2f2;
    height: 65px;
    width: 300px;
    padding-right: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  }
}

/*# sourceMappingURL=style.css.map */
