* {
  font-size: medium;
  font-family: 'Roboto';
  color: black;
}

.fa-solid {
  font-weight: 900;
}

$color-primary: #9356DC;
$color-secondary: #ff79da;
$color-tertiary: #99E2D0;

body {
  margin: 0;
}

header {
  display: flex;
  height: 62.5px;
  position: relative;
  z-index: 10px;
}

.logo {
  display: flex;
  font-family: 'Shrikhand';
  font-size: large;
  height: 25px;
  margin: 20px auto; //"auto" make logo appears in the middle
}

.location {
  display: flex;
  height: 55px;
  background-color: #e0e0e0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 5px -5px inset;

  .map-icon {
    padding-left: 0;
  }

  &__name {
    margin-left: 17px;
  }
}

.explore {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f2f2f2;
  height: 292px;

  .booking {
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 26px;
    height: 25px;
    // margin: 0;
    padding: 20px 0;
    box-sizing: border-box;
  }

  .discover-restaurants {
    height: 35px;
    text-align: center;
    padding: 40px 0 38px 0;
    margin: 0 36px;
    font-size: 18px;
  }

  &__restaurants {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: $color-secondary;
    border: 0;
    font-size: 17px;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    margin: 0 75px 50px 75px;
    background-image: linear-gradient(170deg, $color-secondary, $color-primary);
    box-shadow:
        5px 5px 5px rgba(0, 0,0, 0.2);
  }
}

////////////Media Query for tablet/////////////////////////
@media (min-width:768px) {}

////////////Media Query for desktop/////////////////////////
@media (min-width: 992px) {

  $font-size-table: 15px;

  header {
    box-shadow: none;
  }

  .location {
    height: 32.25px;

    &__name {
      font-size: $font-size-table;
    }
  }

  .explore {
    height: 230px;

    .booking {
      padding: 0;
      margin: 0 0 30px 0;
      align-items: baseline;
      font-size: 40px;
      font-weight: 680;
      box-sizing: border-box;
    }

    .discover-restaurants {
      height: 30px;
      text-align: center;
      padding: 20px 0;
      font-size: $font-size-table;
      margin: 0;
    }

    &__restaurants {
      height: 45px;
      margin: 0 auto 10px auto;
      padding: 0 25px;
      font-size: $font-size-table;
      box-shadow:
        inset -2px -2px 10px rgba(147, 86, 220, 0.2), inset -5px -8px 20px rgba(147, 86, 220, 0.7);
    }
  }
}