* {
  font-size: medium;
  font-family: 'Roboto';
  color: black;
}

.fa-solid {
  font-weight: 900;
}

$color-primary: #9356DC;
$color-secondary: #ff79da;
$color-tertiary: #99E2D0;
$color-gray: #f2f2f2;

@mixin box-shadow {
  box-shadow:
    5px 5px 5px rgba(0, 0, 0, 0.1);
}

@mixin numbers-border-info {
  border: 1px solid;
  border-style: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 13px;
  color: white;
  background-color: $color-primary;
}

@mixin structure-three-sections {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid;
  border-radius: 20px;
  border-style: none;
  background-color: $color-gray;
  height: 65px;
  width: 80%;
  margin: 0 30px;
  margin-top: -30px;
  padding-right: 15px;
  // box-sizing: border-box;
  @include box-shadow();
}

@mixin structure-three-sections-desk {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid;
  border-radius: 20px;
  border-style: none;
  background-color: $color-gray;
  height: 65px;
  width: 300px;
  padding-right: 20px;
  @include box-shadow();
}

body {
  margin: 0;
}

header {
  display: flex;
  height: 62.5px;
  position: relative;
  z-index: 10px;
}

.logo {
  display: flex;
  font-family: 'Shrikhand';
  font-size: large;
  height: 25px;
  margin: 20px auto; //"auto" make logo appears in the middle
}

.location {
  display: flex;
  height: 55px;
  background-color: darken($color: #f2f2f2, $amount: 5%);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 5px -5px inset;

  .map-icon {
    padding-left: 0;
  }

  &__name {
    margin-left: 17px;
  }
}

.explore {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f2f2f2;
  height: 292px;

  .booking {
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 26px;
    height: 25px;
    padding: 20px 0;
    box-sizing: border-box;
  }

  .discover-restaurants {
    height: 35px;
    text-align: center;
    padding: 40px 0 38px 0;
    margin: 0 36px;
    font-size: 18px;
  }

  &__restaurants {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: $color-secondary;
    border: 0;
    font-size: 17px;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    margin: 0 75px 50px 75px;
    background-image: linear-gradient(170deg, $color-secondary, $color-primary);
    @include box-shadow();
  }
}

.structure {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 454.5px;

  .how-page-work {
    display: flex;
    margin-left: 20px;
  }

  .chose-restaurant {
    @include structure-three-sections();

    .numbers {
      @include numbers-border-info();
      text-align: center;
      margin-left: -10px;
    }

    &__icon {
      padding: 0 20px;
    }
  }

  .create-menu {
    @include structure-three-sections();

    .numbers {
      @include numbers-border-info();
      text-align: center;
      margin-left: -10px;
    }

    &__icon {
      padding: 0 20px;

      &--fa-th-list {
        background-color: none;
        color: black;
      }
    }
  }

  .enjoy-it {
    @include structure-three-sections();

    .numbers {
      @include numbers-border-info();
      text-align: center;
      margin-left: -10px;
    }

    &__icon {
      padding: 0 20px;
    }
  }

  .differ--background-col {
    background-color: lighten($color: $color-primary, $amount: 33%)
  }
}


////////////Media Query for tablet/////////////////////////
@media (min-width:768px) {

  .location {
    height: 30px;
    box-shadow: none;

    .map-icon {
      font-weight: 600;
      font-size: small;
    }

    &__name {
      margin-left: 14px;
      font-size: 12px;
    }
  }

  .explore {
    height: 210px;

    .booking {
      font-weight: 680;
      font-size: 28px;
      padding: 0;
      margin: 0 0 22px 0;
      box-sizing: border-box;
    }

    .discover-restaurants {
      height: 30px;
      text-align: center;
      padding: 20px 0;
      margin: 0;
      font-size: 13px;
    }

    &__restaurants {
      height: 45px;
      font-size: 17px;
      margin: 0 auto;
      padding: 0 20px;
      font-size: 13px;
    }
  }

}

////////////Media Query for desktop/////////////////////////
@media (min-width: 992px) {

  $font-size-table: 15px;

  .location {
    height: 32.25px;
    box-shadow: none;

    &__name {
      font-size: $font-size-table;
    }
  }

  .explore {
    height: 230px;

    .booking {
      padding: 0;
      margin: 0 0 30px 0;
      align-items: baseline;
      font-size: 35px;
      font-weight: 680;
      box-sizing: border-box;
    }

    .discover-restaurants {
      height: 30px;
      text-align: center;
      padding: 20px 0;
      font-size: $font-size-table;
      margin: 0;
    }

    &__restaurants {
      height: 45px;
      margin: 0 auto 10px auto;
      padding: 0 25px;
      font-size: $font-size-table;
    }
  }


  .structure {
    flex-direction: row;
    height: 230px;
    align-items: flex-end;
    margin: 0 140px;

    .how-page-work {
      position: static;
      width: 100%;
      height: fit-content;
      margin-bottom: 180px;

    }

    .chose-restaurant {
      @include structure-three-sections-desk();

    }

    .create-menu {
      @include structure-three-sections-desk();

    }

    .enjoy-it {
      @include structure-three-sections-desk();

    }
  }
}