* {
  font-size: medium;
  font-family: 'Roboto';
  color: black;
}

head {
  width: 100%;
  height: 62.5px;
}

body {
  max-width: 768px;
  min-width: 375px;
}

header {
  display: flex;
  justify-content: space-between;
  width: 375px;
  height: 62.5px;
}

.logo {
  display: flex;
  font-family: 'Shrikhand';
  object-fit: contain;
  width: auto;
  height: 25px;
  margin: 20px auto;
  padding: 0;
}