.fa-check {
  color: $color-tertiary;
}

.pointer a {
  display: flex;
  align-items: center;

  right: 300px;
  top: 20px;
}

.palette-card img {
  display: flex;
  width: 100%;
  height: 180px;
}

.entrees-content {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: $color-gray;

  h1 {
    display: flex;
    flex-direction: row;
    position: static;
    padding: 20px 0 0 20px;
    font-size: x-large;
    font-weight: 900;
    font-family: 'Shrikhand';
  }

  .palette-favorite {
    @include favorite-heart;
    position: absolute;
    top: 280px;
    right: 40px;
    height: 0px;
  }

  .entrees {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 0 4px 0;
    border-bottom: 3px solid $color-tertiary;
    width: 40px;
    margin-left: 20px;
  }

  // hr {
  //   color: $color-tertiary ;
  //   width: 40px;
  // }

  .entrees-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    .card-content {
      display: flex;
      flex-direction: column;
      width: 94%;
      height: 70px;
      border: 1px solid;
      border-style: none;
      border-radius: 20px;
      background-color: white;
      flex-wrap: wrap;
      position: relative;
      transition: .2s;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);

      h3 {
        padding-left: 10px;
      }

      .ingridiant {
        padding: 0 0 0px 10px;
        margin: 40px 0 0px 0;
        position: absolute;
      }

      .btn-price {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 70px;
        margin: 20px auto;

        .price {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          padding: 0 0 0px 0;
          font-weight: bold;
          position: static;
          transition: 0.3s;
        }

        .btn-check-marck {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 70px;
          height: 70px;
          border: 1px solid;
          border-style: none;
          background-color: $color-tertiary;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;

          position: relative;
          right: -250px;
          transition: .3s;

          &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 25px;
            border: 1px solid;
            border-style: none;
            background-color: white;
            width: 20px;
            height: 20px;
            position: fixed;
            margin-left: -130px;

            .card-content:hover .btn-check-marck {
              right: -130px;
            }

          }

          .card-content:hover .price {
            margin-right: 63px;

            .card-content:hover {
              box-shadow: 0px 5px 6px tgba(0, 0, 0, 0.3);
            }
          }
        }
      }
    }
  }
}

.order-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f2f2f2;
  padding-top: 50px;
  padding-bottom: 30px;

  .order {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: $color-secondary;
    border: 0;
    font-size: 17px;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    margin: 0 75px 50px 75px;
    background-image: linear-gradient(170deg, $color-secondary, $color-primary);
    @include box-shadow();
  }
}

.footer-section {
  @include footer-for-mobile;
}