.fa-check {
  color: $color-tertiary;
}

.entrees-back {
  margin-top: -30px;
  z-index: 10000;
  position: relative;

  @media (min-width:992px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width:768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

nav {
  @include nav-pointer;
}

nav a {
  text-decoration: none;
}

.palette-card img {
  display: flex;
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.entrees-content {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: $color-gray;

  @media (min-width:992px) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76%;
  }

  @media (min-width:768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76%;
  }

  h1 {
    @include header-title;
  }

  .palette-favorite {
    @include favorite-heart;
    height: 0px;

    @media (min-width:768px) {
      right: 30%;
      top: 50px;
    }

    @media (min-width: 992px) {
      right: 35%;
    }
  }

  .entrees {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    margin-left: 22px;
    padding-top: 30px;

    @media (min-width:992px) {
      margin-bottom: 4px;
    }

    @media (min-width:768px) {
      margin-bottom: 4px;
      margin-left: 35px;
    }
  }

  hr {
    @include mini-line;

    @media (min-width:992px) {
      text-align: left;
      margin-left: 17.5%;
      margin-bottom: 12px;
      margin-top: 2px;
    }

    @media (min-width:768px) {
      text-align: left;
      margin-left: 17.5%;
      margin-bottom: 12px;
      margin-top: 2px;
    }
  }

  .entrees-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    @media(min-width:992px) {
      width: 70%;
    }

    @media(min-width:768px) {
      width: 70%; //space around cards
    }

    .menu-card {
      width: 94%;
      height: 70px;
      border-radius: 20px;
      background-color: white;
      box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.1);
      overflow: hidden;

      &:hover {
        .card-content {
          width: 100%;
        }

        .ingridiant {
          //to add ... when the line is too long
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          width: 230px;

          @media (min-width:512px) {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: visible;
          }
        }
      }

      .card-content {
        height: 100%;
        // TODO ADD TRANSITION WIDTH
        width: calc(100% + 70px);
        display: flex;

        .card-text {
          display: flex;
          flex-direction: column;
          height: 100%;
          flex: fit-content;
          padding: 10px 0 10px 10px;

          h3 {
            margin: 0;
          }

          .ingridiant {
            margin-top: 8px;
          }
        }

        .btn-price {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          width: 70px;
          height: 100%;

          .price {
            font-weight: bold;
            padding-bottom: 10px;
          }
        }

        .btn-check-mark {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 70px;
          height: 70px;
          background-color: $color-tertiary;

          &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: white;
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}

.order-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f2f2f2;
  padding-top: 50px;
  padding-bottom: 30px;

  @media (min-width:992px) {
    width: 315px;
    padding-top: 20px;
    padding-bottom: 0;
  }

  @media (min-width:768px) {
    padding-top: 22px;
    padding-bottom: 0;
  }

  .order {
    @include order-button;
    background-image: linear-gradient(170deg, $color-secondary, $color-primary);

    &:hover {
      @include box-shadow();
      filter: brightness(115%);//make button brighter
    }
  }
}

.footer-section {
  @include footer-for-mobile;
}