header {
  display: flex;
  height: 62.5px;
  position: relative;
  z-index: 10;
}

.logo {
  display: flex;
  font-family: 'Shrikhand';
  font-size: large;
  height: 25px;
  margin: 20px auto; //"auto" make logo appears in the middle
}