@mixin box-shadow {
  box-shadow:
    6px 6px 6px rgba(0, 0, 0, 0.1);
}

@mixin numbers-border-info {
  border: 1px solid;
  border-style: none;
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  font-size: 13px;
  color: white;
  background-color: $color-primary;
}

@mixin structure-three-sections {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid;
  border-radius: 20px;
  border-style: none;
  background-color: $color-gray;
  height: 68px;
  width: 80%;
  margin: 0 30px;
  margin-top: -30px;
  padding-right: 15px;
  @include box-shadow();

  @media(min-width: 992px) {
    width: 33.3%;
  }
}

@mixin footer-for-mobile {
  .page-name {
    display: flex;
    font-family: 'Shrikhand';
    font-size: large;
    font-weight: 700;
    color: white;
    padding: 10px 0 10px 0;

    //to change logo's color to white
    // filter: invert(100%) sepia(6%) saturate(0%) hue-rotate(0deg) brightness(108%) contrast(108%);
    @media (min-width:768px) {
      display: flex;
      justify-content: end;
      right: 40px;
      padding: 25px 0 0 0;
    }
  }

  .footer-text {
    color: white;
    font-size: 14px;
    white-space: nowrap;
  }

  .footer-icon ::before {
    width: 18px;
    height: 18px;
  }

  .footer-link i {
    color: white;
  }
}

@mixin favorite-heart {
  position: absolute;
  right: 30px;
  bottom: 30px;
  padding: 0 8px 16px 0;
  height: 0px;

  .empty-heart {
    color: gray;
    font-size: 20px;
  }

  .full-heart {
    opacity: 0;
    transition: opacity .5s;
    font-size: 20px;
  }

  &:hover .full-heart {
    opacity: 1;
  }

  i {
    position: absolute;
    background-image: linear-gradient(170deg, $color-secondary, $color-primary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

@mixin nav-pointer{
  display: flexbox;
  top: 20px;
  bottom: 20px;
  left: 30px;
  position: absolute;
}

@mixin mini-line{
  width: 40px;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: -5px;
    border-width: 1.5px;
    border-color: $color-tertiary;
    border-style: solid;
}

@mixin order-button{
  display: flex;
    height: 50px;
    width: 200px;
    justify-content: center;
    align-items: center;
    background-color: $color-secondary;
    border: 0;
    font-size: 17px;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    margin: 0 75px 50px 75px;
}

@mixin header-title{
  display: flex;
    flex-direction: row;
    position: static;
    padding: 20px 0 0 20px;
    font-size: x-large;
    font-weight: 900;
    font-family: 'Shrikhand';
    margin-bottom: -20px;
}